@import './reset.scss';
@import './utils.scss';
@import './headings.scss';
@import './table.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.window-values {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  --halo: var(--topVerticalWindowValues);
}
