h6 {
  font-size: clamp(1rem, 2vw, 1.1rem);
  font-weight: 600;
  line-height: 1.5;
  margin-block: .1rem;
}
h2 {
  font-size: clamp(1.1rem, 2vw, 4rem);
  font-weight: 600;
  line-height: 1.5;
  margin-block: .1rem;
}